@font-face{
    font-family: "minecraft-bold";
    src: url(./font/3_MinecraftBold1.otf);
}
@font-face{
    font-family: "minecraft-regular";
    src: url(./font/1_MinecraftRegular1.otf);
}
.contener{
    position: relative;
    height: 100vh;
}
.installer{
    background-color: #D1F2EB;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    width: max-content !important;
}
.installer h1{
    font-family: "minecraft-bold",sans-serif;
    color: #00AA00;
    -webkit-text-stroke: 1px black;
    

}
.installer p{
    font-family: "minecraft-regular",sans-serif;
}
.installer button{
    font-family: "minecraft-regular",sans-serif;
    background-color: #00AA00;
    border-radius: 10px;
    outline: none;

}
.installer button:hover{
 color: white;
 border-color: white;
 border-radius: 10px;


}
.installer select{
    font-family: "minecraft-regular",sans-serif;
    background-color: #00AA00;
    border-radius: 10px;
    outline: none;
    padding: 2px;
}
.installer label{
    font-family: "minecraft-regular",sans-serif;
}
.installer input{
    outline: none;
    font-family: "minecraft-regular",sans-serif;
    background-color: #00AA00;
    border-radius: 10px;
}
.installer input[type=submit]{
    font-family: "minecraft-regular",sans-serif;
    background-color: #00AA00;
    border-radius: 10px;
    outline: none;

}
.installer input[type=submit]:hover{
 color: white;
 border-color: white;
 border-radius: 10px;


}
.req{
color: red;
font-family: "minecraft-regular",sans-serif;
}